@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css');


:root {
    font-family: 'Source Code Pro', monospace;
    background-color: #363636;
    width: 1280px;
    height: 960px;
    font-size: 28px;
    padding: 40px;
    color: rgb(207, 207, 207);
    color: #fff;
}

h1 {
    font-size: 55px;
    color: #fff;
}

h2 {
    font-size: 45px;
    color: #fff;
}

h3 {
    font-size: 35px;
    color: #fff;
}
